body {
  font-family: Ubuntu;
  background-color: #EAFFD0;
}

table {
    padding: 2px 2px;
    table-layout: auto;
}

thead {
    font-size: 0.8rem;
    font-weight: bold;
}

tr {
    height: 1.1rem;
    margin: 1px;
}

caption {
    font-style: italic;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.hspacer {
    margin: 0 0.8rem;
}

.navbar {
  font-family: Montserrat;
  background-color: #F38181;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0 15px;
}

.btn:focus,
       .btn.focus {
           box-shadow: 0 0 0 0;
       }

.bsfoot {
    background-color: lightgray;
    font-size: 1rem;
    text-align: right;
    padding-right: 1rem;
}


.smDisbBodyFirstTxt {
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
    padding-left: .8rem;
    padding-top: .8rem;
    padding-bottom: .5rem;
}

.smDisbBodyTxt {
    font-weight: normal;
    font-size: 1rem;
    text-align: left;
    padding-left: 2rem;
}


.card {
    margin: 2%;
    border-color: #95e1d3;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.card-header {
  font-weight: bold;
  background-color: Aquamarine;
}

.card-body {
  text-align: center;
  font-size: 1.25rem;
  padding: 1rem;
}

.charges {
  margin: 0;
  padding: 0;
}


.card-footer {
  text-align: center;
}


.small-screen-h3 {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-top: 1px dashed Aquamarine;
  background-color: Aquamarine;
}

.disburseColour {
    background-color: mediumaquamarine;
}

.disburseFont {
    font-style: italic;
}

.spacer {
  margin-bottom: 8rem;
}

.disburseTable {
    font-size: 0.8rem;
    font-variant-caps: small-caps;
}

.smDisbCard-on {
    background-color: lightcyan;
}

.smDisbCard-off {
    background-color: cyan;
}


.tax-foot {
    font-family: Ubuntu;
    font-size: 1.2rem;
    font-variant-caps: small-caps;
}

#home {
    margin-left: 1rem;
}

#bigStuff-subT {
    font-size: 1.3rem;
    font-weight: bolder;
}

#bigStuff-list {
    font-size: 1rem;
    font-weight: normal;
}

#small-charges {
  font-family: Montserrat;
  font-size: 1.2rem;
  margin-right: 1rem;
}

#smallChgText {
  font-family: "Dancing Script";
  font-style: italic;
  font-weight: lighter;
  font-size: 3rem;
}

#smallChgTextB {
    font-family: "Dancing Script";
    font-style: italic;
    font-weight: lighter;
    font-size: 2rem;
}


#totalCharge, #totalCharge-sm {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 1.2rem;
}


#hrMin_txt {
  font-size: 0.8rem;
  font-variant-caps: small-caps;
}


#disbTFoot {
    border-top-width: thin;
    border-top-style: double;
}


#chkBoxForm {
    margin: 10px 0;
    border-style: groove;
    border-width: 2px;
    border-color: red;
    background-color: lightgoldenrodyellow;
    font-family: Ubuntu;
    font-size: 1.3rem;
    font-weight: bolder;
    font-variant-caps: small-caps;
}
